{% extends "base.html" %}
{% block content %}

    <h2> {{ page_title }} </h2>
    <p>
        On April 26, 2941, Gandalf and the Dwarves arrived at Bag End. After a big tea and supper with Bilbo, they explained themselves and their intentions. 
        Bilbo was at first reluctant to join the group but Gandalf rushed him out of the door
    </p>

    {% for member in company %}

        <div class="row featurette">
            <div class="col-md-7">
                <h3>{{ member.name }}</h3>
                <p>{{ member.description }}</p>
            </div>
            <div class="col-md-5">
                <img src="{{ member.image_source }}" alt="" class="featurette-image image-responsive">
            </div>
        </div>

        <hr class="featurette-divider">

    {% endfor %}

{% endblock %}